/coco/machina-example/
/coco/bin/
/coco/markdown2-2.3.7.dist-info/
/coco/markdown2.py
/coco/mptt/
/coco/django/
/coco/PIL/
/coco/Django-2.1.4.dist-info/
/coco/Pillow-5.3.0.dist-info/
/coco/django_haystack-2.8.1.dist-info/
/coco/django_js_asset-1.1.0.dist-info/
/coco/django_machina-0.7.1.dist-info/
/coco/django_mptt-0.9.1.dist-info/
/coco/django_widget_tweaks-1.4.3.dist-info/
/coco/__pycache__/
/coco/pytz/
/coco/pytz-2018.7.dist-info/
/coco/haystack/
/coco/js_asset/
/coco/widget_tweaks/

*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
