/coco/machina-example
/coco/bin
/coco/markdown2*
/coco/mptt
/coco/django
/coco/PIL
/coco/Django-*
/coco/Pillow*
/coco/django-haystack*
/coco/django-js*
/coco/django-machina*
/coco/django-mptt*
/coco/django-widget*
/coco/__pycache__/
/coco/pytz/
/coco/pytz-*
/coco/haystack/
/coco/js_asset/
/coco/widget_tweaks/
