<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<img src='{% static "logo.png" %}'>

{% if user.is_authenticated %}
	<p>Fucked up, {{ user.username }}???</p>

	<p>Notifications <br>
Receive an automatic notification<br>
everytime someone mentions your<br>
@name, quotes you or answers to your<br>
conversation.</p>

	<p><a href="{% url 'logout' %}">logout</a></p>

{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">login</a>

{% endif %}
{% endblock %}
