<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	<p>Hello, {{ user.username }}</p>

<h1>Welcome to COCO</h1>
<hr>

<p>Many features in COCO are still under development.</p>

<p>This forum can be used to discuss COCO issues for the time being.</p>

<p>You can just add your comments anywhere you like.</p>

	<p><a href="{% url 'forum:index' %}">Forum</a></p>

	<p><a href="{% url 'logout' %}">Log-out</a></p>


{% else %}
	<p>You are not logged in</p>
	
	<a href="{% url 'login' %}">&lang;Log in&rang;</a>
	<br>
	<a href="{% url 'signup' %}">&lang;Sign up&rang;</a>
{% endif %}
{% endblock %}
