html {
	background: #CCCCCC;
}

h1 {
  color:  brown;
}

@font-face {
    font-family: ubuntu-light-webfont;
    src: url('ubuntu-light-webfont.woff');
}

p {
    font-family: ubuntu-light-webfont;
	font-size: 20px;
	line-height: 24px;
	color: #050505;
	background: #CCCCCC;
}
